<div class="container">
	<div class="row">
		<% @cards.each do |card| %>
			<div style="width: 200px;" class="p-1">
				<%= image_tag card.card_url, class: 'w-100' %>
			</div>
		<% end %>
	</div>
</div>
