<!-- <div class = "logo">
	<img src = "http://berserk.ru/image/berserk/logo.png">
</div>
<div class = "logo2">
	<img src = "http://berserk.ru/image/data/sins_logo.png">
</div> -->
<div class = 'grid-container card-container'>
</div>

<script>
	$(document).ready( () => {
		drawCards();

		$('.card').click( () => {
			$(this).css("opacity", "0");
		})
	});

	function drawCards(){
		$('.card-container').empty();
		<% @cards.each do |card| %>
			$('.card-container').append('<div class = "card grid-item" onclick="test(\'<%= card.name %>\')"><img src = <%= card.card_url %> ></div>');
		<% end %>
	}

	function test(i){
		console.log(i);
	}
</script>