<!-- <div class = "logo">
	<img src = "http://berserk.ru/image/berserk/logo.png">
</div>
<div class = "logo2">
	<img src = "http://berserk.ru/image/data/sins_logo.png">
</div> -->

<div class = "container">
	<% @cards.each do |card| %>
		<div class = "card"><img src = <%= card.card_url %> ></div>
	<% end %>
</div>