// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-image: url(http://wallpoper.com/images/00/31/33/51/black-background_00313351.jpg);
}

.card-container {
	grid-template-columns: 200px 200px 200px 200px 200px auto;
	grid-template-rows: 280px 280px 280px 280px;
	display: grid;
}

.logo {
	width: 200px;
	height: 300px;
	position: absolute;
	top: 50px;
	left: 40px;

	img {
		max-width: 100%;
		max-height: 100%;
	}
}

.logo2 {
	width: 160px;
	height: 300px;
	position: absolute;
	top: 180px;
	left: 60px;

	img {
		max-width: 100%;
		max-height: 100%;
	}
}

.card {

	img {
		max-width: 100%;
		max-height: 100%;
	}
}

.right-menu {
	background-color: rgba(0,0,0,0.7);
	border: 2px solid rgba(0,0,0,0.5);
	border-radius: 10px;
	height: 800px;
	margin-top: 20px;
}